.git
.github

node_modules
vendor
public/build
public/hot

storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/pail

database/*.sqlite

.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache

docs
*.md
